[user]
[core]
	autocrlf = false
    editor = nvim -c \"set fenc=utf-8\"
    pager = lv
	precomposeunicode = true
	preloadindex = true
	safecrlf = true
	excludesfile = /Users/kori/.gitignore_global
[push]
    default = current
[difftool "sourcetree"]
	cmd = /Applications/DiffMerge.app/Contents/MacOS/DiffMerge --nosplash \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/DiffMerge.app/Contents/MacOS/DiffMerge --merge --result=\"$MERGED\" \"$LOCAL\" \"$BASE\" \"$REMOTE\"
	trustExitCode = true
[color]
    ui = auto
    diff = auto
    status = auto
    branch = auto
    grep = auto
[merge]
[alias]
    st = status
    co = checkout
    ci = commit -v
    di = diff
    br = branch
    puhs = push
    psuh = push
    pus = push
    puh = push
    pl = !git pull && git submodule update --init
    p = pull
    pu = push
    puu = push -u
    c = commit -v
    o = checkout
    t = checkout -t
    b = checkout -b
    r = remote
    pr = pull-request
    see = browse
    m = merge
    mn = merge --no-ff
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[merge]
	tool = diffconflicts
	conflictstyle = diff3
[mergetool "diffconflicts"]
	cmd = diffconflicts nvim $BASE $LOCAL $REMOTE $MERGED
	trustExitCode = true
	keepBackup = false
