[user]
[core]
	autocrlf = input
	excludesfile = $HOME/.gitignore
	editor = vim -c \"set fenc=utf-8\"
	precomposeunicode = true
	pager = lv
[push]
	default = current
[difftool "sourcetree"]
	cmd = /opt/homebrew-cask/Caskroom/diffmerge/4.2.0.697/DiffMerge.app/Contents/MacOS/DiffMerge --nosplash \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /opt/homebrew-cask/Caskroom/diffmerge/4.2.0.697/DiffMerge.app/Contents/MacOS/DiffMerge --merge --result=\"$MERGED\" \"$LOCAL\" \"$BASE\" \"$REMOTE\"
	trustExitCode = true
[color]
	ui = auto
	diff = auto
	status = auto
	branch = auto
	grep = auto
[merge]
    ff = false
[alias]
	st = status
	co = checkout
	ci = commit -v
	di = diff
	br = branch
	puhs = push
	psuh = push
	pus = push
	puh = push
	pl = !git pull && git submodule update --init
