[user]
[core]
	autocrlf = false
	editor = nvim -c \"set fenc=utf-8\"
	pager = lv
	precomposeunicode = true
	preloadindex = true
	safecrlf = true
	excludesfile = /Users/kori/.gitignore_global
[push]
	default = current
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[color]
	ui = auto
	diff = auto
	status = auto
	branch = auto
	grep = auto
[merge]
[alias]
	st = status
	co = checkout
	ci = commit -v
	di = diff
	br = branch
	puhs = push
	psuh = push
	pus = push
	puh = push
	pl = !git pull && git submodule update --init
	p = pull
	pu = push
	puu = push -u
	c = commit -v
	o = checkout
	t = checkout -t
	b = checkout -b
	r = remote
	pr = pull-request
	see = browse
	m = merge
	mn = merge --no-ff
	ag = !git ls-files | xargs ag
	g = "!git ls-files | xargs ag --pager=\"less -R\" --nogroup --color-match=0\\;31 --color-path=0\\;0 --no-numbers 2> /dev/null"
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[merge]
	tool = diffconflicts
	conflictstyle = diff3
[mergetool "diffconflicts"]
	cmd = diffconflicts nvim $BASE $LOCAL $REMOTE $MERGED
	trustExitCode = true
	keepBackup = false
[pager]
	log = diff-highlight | less
	show = diff-highlight | less
	diff = diff-highlight | less
[diff]
	compactionHeuristic = true
[user]
	name = Kei Kori
	email = kori@aucfan.com
